<%- include('./partials/head') %>




<main>
  <!-- <div class="menu">
    <button> <img src="/images/buttons/loupe.png" alt="search">Zoek</button>
    <button> <img src="/images/buttons/address.png" alt="adres">Adres</button>
    <button> <img src="/images/buttons/cake.png" alt="leeftijd">Leeftijd</button>
    <button> <img src="/images/buttons/user.png" alt="naam">Naam</button>
    <button> <img src="/images/buttons/hobbies.png" alt="hobbies">Hobbies</button>
    <button> <img src="/images/buttons/team.png" alt="squad">Squad</button>
  </div> -->

  <div class="files">
    <div class="d-file">
      <h2>Squad 1D</h2>
    </div>

  <a href="/squad">
    <div class="e-file">
      <h3>Squad 1E</h3>
    </div>
  </a>

    <div class="f-file">
      <h4>Squad 1F</h4>
    </div>
  
    <div class="all-squads-files">
      <h5>Alle squads</h5>
    </div>
  </div>
</main>

<%- include('./partials/foot') %>
