@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-1: #FCEEC9;
  --clr-primary-2: #F8C353;
  --clr-primary-3: #F57C67;
  --clr-primary-4: #B7515C;
  --clr-primary-5: #64B8A5;
  --clr-primary-6: #3B665D;
  
  --clr-light-1: #FFF2DC;
  --clr-light-2: #FDD683;
  --clr-light-3: #FF9F8E;
  --clr-light-4: #F47785;
  --clr-light-5: #7EE1CA;
  --clr-light-6: #679287;
  
  --clr-dark-1: #FFDDA3;
  --clr-dark-2: #EDB541;
  --clr-dark-3: #D36D5C;
  --clr-dark-4: #933B45;
  --clr-dark-5: #458878;
  --clr-dark-6: #2A453F;
  
  --clr-contrast-100: #333;
  --clr-contrast-0: #FFF;

  --heading-size: 1.7em;
}

@font-face {
  font-family: "Abel";
  src: url(/Abel-Regular.ttf);
}

body {
  background: var(--clr-primary-1);
  font-family: "Abel";
  /* overflow-y: hidden; */
}

.back-icon {
  left: 0.5em;
  position: absolute;
  top: 5em;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
}

img {
  height: 25px;
  padding: 2px;
}

button {
  border: none;
  border-radius: 49%;
  margin: 1em;
  padding: 0.7em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-family: "Abel";
}

button:hover {
  border: none;
  border-radius: 16px;
  width: max-content;
  scale: 1.1;
 }

button:nth-of-type(1) {
  background: var(--clr-dark-1);
}

button:nth-of-type(2) {
  background: var(--clr-primary-2);  
}

button:nth-of-type(3) {
  background: var(--clr-primary-3);
}

button:nth-of-type(4) {
  background: var(--clr-light-4);
}

button:nth-of-type(5) {
  background: var(--clr-primary-5);
}

button:nth-of-type(6) {
  background: var(--clr-light-6);
}

.files {
  position: relative;
  height: 5em;
}

a {
  color: var(--clr-contrast-100);
}

h2, h3, h4, h5 {
  border-radius: 8px;
  font-size: var(--heading-size);
  padding: 0em 0.5em 0em 0.5em;
  border: var(--clr-contrast-100) solid 2px;
  border-bottom: none;
}

h2 {
  background: var(--clr-primary-4);
  margin-left: 1em;
  position: fixed; bottom: 11.55em;
  z-index: 1;
}

.d-file {
  background: var(--clr-primary-4);
  width: 100vw;
  height: 20em;
  position: fixed; bottom: 0em;
  border-top: var(--clr-contrast-100) solid 2px;
}

h3 {
  background: var(--clr-primary-5);
  margin-left: 2em;
  position: fixed; bottom: 8.55em;
  z-index: 1;
}

.e-file {
  background: var(--clr-primary-5);
  width: 100vw;
  height: 15em;
  position: fixed; bottom: 0em;
  border-top: var(--clr-contrast-100) solid 2px;
}

h4 {
  background: var(--clr-primary-6);
  margin-left: 4em;
  position: fixed; bottom: 5.65em;
  z-index: 1;
}

.f-file {
  background: var(--clr-primary-6);
  width: 100vw;
  height: 10em;
  position: fixed; bottom: 0em;
  border-top: var(--clr-contrast-100) solid 2px;
}

h5 {
  background: var(--clr-primary-3);
  margin-left: 6em;
  position: fixed; bottom: 2.7em;
  z-index: 1;
}

.all-squads-files {
  background: var(--clr-primary-3);
  width: 100vw;
  height: 5em;
  position: fixed; bottom: 0em;
  border-top: var(--clr-contrast-100) solid 2px;
}

.d-file:hover, h2:hover{
  scale: 1.1;
}

.e-file:hover, h3:hover{
  scale: 1.1;
}


.f-file:hover, h4:hover{
  scale: 1.1;
}

.all-squads-files:hover, h5:hover{
  scale: 1.1;
}

@media(min-width:700px) {
  h2 {
    margin-left: 4em;
  }

  h3 {
    margin-left: 6em;
  }

  h4 {
    margin-left: 8em;
  }

  h5 {
    margin-left: 10em;
  }
}

ul {
  margin: 2em;
  list-style: none;  
  line-height: 2em;
}

li p:nth-of-type(1) {
  font-weight: bold;
}